extends layout
block prepend footerscripts
    script(src='/js/grouppost.js' defer=true)
block content
    #post !{groupPostString}
    script window.groupId = [!{groupId}];
    script window.postId = [!{id}];
    script window.groupPostData = [!{groupPostData}];
    script window.groupPostData = window.groupPostData[0] ? window.groupPostData[0] : {}
 